
body{
    margin: auto;
    width: 960px;
}
.image-section{
     display:grid;
     grid-template-columns: auto auto auto  ;
     gap: 20px;
}
main section  img{

    width: 100%;
    margin: auto;
}
main{
    width: 960px;
}
#viewResults {
    visibility: hidden;
}
ul{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    
}
